<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login_style.css">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <div>
        <ul>
            <li>
                <a href="/users/discussion1st">
                    <h3>Discussion Forum <i class="far fa-comments"></i></h3>
                </a>
            </li>
            <li>
                <a href="/users/discussion2nd" target="_blank">
                    <button type="button" class="btn btn-default navbar btn btn-light btn-rounded">
                        <b>See questions</b>
                    </button></a>
            </li>
            <li>
                <a href="/users/discussion4th" target="_blank">
                    <button type="button" class="btn btn-default navbar btn btn-light btn-rounded">
                        <b>See responses</b>
                    </button></a>
            </li>
        </ul>
    </div>
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-8">
                <div class="que-content">
                    <div class="card text-white mb-3" style="box-shadow: 4px 4px 4px 4px #5e5959">
                        <div class="card-header">
                            <section class="container-fluid">
                                <section class="row justify-content-center">
                                    <section class="col-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <h3 class="text-center font-weight-bold"></h3>
                                            <p class="text-danger"></p>
                                            <p class="text-muted" style="text-align: left">
                                                Type the QuestionId / ResponseId in the respective boxes to perform
                                                deletion.
                                            </p>
                                            <form action="/users/deleteQuestions" method="POST" class="card-title">
                                                <input type="text" name="question" class="form-control"
                                                    placeholder="Enter QuestionID" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Delete Question
                                        </button>
                                        </form><br>
                                        <form action="/users/deleteResponses" method="POST" class="res">
                                            <input type="text" name="response" class="form-control"
                                                placeholder="Enter ResponseID" /><br>
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Delete Responses
                                            </button></form><br>
                                    </section>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-white" href="https://phcet.ac.in/#">PHCET</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- ///////////////////////////////FOOTER ENDS//////////////////////////////////////////////////// -->
    <script>
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
    <!-- Login form creation ends -->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

        * {
            font-family: "Montserrat Alternates", sans-serif;
        }

        .inst {
            margin-left: 250px;
            margin-right: 10px;
            background-color: rgb(0, 0, 0);
            /* margin-top: 50px; */
            /* margin-bottom: 50px; */
            /* THIS IS FOR INNER BOX COLOR OF INSTRUCTION */
        }

        .fas {
            width: 50px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(51, 51, 51);
            padding-top: 10px;
        }

        li {
            float: left;
        }

        h3 {
            display: block;
            color: white;
            text-align: center;
            padding: 14px;
            padding-right: 650px;
            text-decoration: none;
        }

        .navbar {
            margin-top: 10px;
            margin-right: 10px;
        }

        div.main-container {
            display: flex;
        }

        /* .container-left {
        width: 40%;
        height: 100px;
        background: #eee;
        min-height: 75vh;
        box-shadow: 1px 0 1px 0 #ccc;
        margin-top: 10px;
        margin-left: 10px;
      } */

        .container-right {
            width: 100%;
            height: 100px;
            min-height: 47vh;
            color: rgb(207, 21, 21);
            padding: 9px 94px 0px 50px;
        }

        .card {
            background-color: #f3d2ac;
            /* THIS IS FOR BACKGROUND COLOUR OF THE INSTRUCTION PART */
        }

        .inst-bg {
            background-color: #000000;
            /* THIS IS FOR BAGROUND COLOUR OF THE WRITTEN INSTRUCTION BOX  */
        }

        .card-header {
            color: brown;
        }

        .card-title {
            color: brown;
        }

        .que-content {
            background: rgb(255, 255, 255);
            padding: 10px;
            color: #3f3f3f;
            margin-top: 5px;
        }

        .row {
            margin-top: 10px;
            margin-left: 0px;
            margin-right: 0px;
        }

        .img-chat {
            width: 40px;
            height: 40px;
        }

        .text-green {
            color: #16a085;
        }

        .text-orange {
            color: #f39c12;
        }

        .text-red {
            color: #e74c3c;
        }

        .button-wrapper {
            background: #fff;
            padding: 20px 10px;
            box-shadow: 0px 1px 1px 0 #ccc;
        }

        .btn-add {
            background: #0072c8;
            padding: 8px 12px;
            font-size: 18px;
            color: #fff;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search {
            outline: none;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid gray;
            padding: 8px 12px;
            margin-left: 10px;
        }

        /* .container {
        max-width: 1170px;
        margin-top: 30px;
        margin-left: 200px;
        padding: 9px 94px 0px 50px;
      } */
        /* img {
        max-width: 100%;
      } */
        .inbox_people {
            background: #2e2a2a none repeat scroll 0 0;
            float: left;
            overflow: hidden;
            width: 98%;
            box-shadow: 4px 4px 4px 4px #5e5959;
            margin-left: 10px;
        }

        .inbox_msg {
            width: min-content;
            width: 550px;
            clear: both;
            overflow: hidden;
            box-shadow: 4px 4px 4px 4px #5e5959;
        }

        .headind_srch {
            padding: 10px 29px 10px 20px;
            overflow: hidden;
        }

        .recent_heading h4 {
            color: #ffffff;
            font-size: 21px;
            margin: auto;
        }

        .chat_ib h5 {
            font-size: 15px;
            color: #454745;
            margin: 0 0 8px 0;
        }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

        .chat_ib p {
            font-size: 14px;
            color: #790909;
            margin: auto;
        }

        /* THIS IS FOR COLOURING THE INNER TEXT OF THE QUESTION'S SECTION */

        .chat_ib {
            float: left;
            padding: 0 0 0 15px;
            width: 88%;
        }

        .chat_people {
            overflow: hidden;
            clear: both;
        }

        .chat_list {
            margin: 0;
            padding: 18px 16px 10px;
        }

        .inbox_chat {
            height: 450px;
            overflow-y: scroll;
        }

        .active_chat {
            background: #f1dec8;
        }

        .mb-4 {
            padding-left: 0px;
        }

        a {
            text-decoration: none;
        }

        .messaging {
            box-shadow: 4px 4px 4px 4px #5e5959;
        }

        footer {
            /* margin: auto; */
            margin-top: 22px;

        }
    </style>
</body>

</html>