<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Let's<br />
      get started
    </h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-4 col-sm-12">
    <br />
    <%if(locals.email){%>
    <p>You are logged in as <%=email%></p>
    <a href="/users/discussion1st">
      <button style="height: 80px; width: 350px; margin-top: 50px" type="submit" class="btn btn-secondary">
        Go to discussion forum
      </button>
    </a>
    <br /><br />
    <a href="/users/logout">
      <button style="height: 80px; width: 350px" type="submit" class="btn btn-black">
        Logout
      </button>
    </a>
    <%} else { %>
    <div class="login-form">
      <a href="/users/discussion1st">
        <button style="height: 80px; width: 350px; margin-top: 50px" type="submit" class="btn btn-secondary">
          Go to discussion forum
        </button>
      </a><br /><br /><br />
      <a href="/users/login">
        <button style="height: 80px; width: 350px; margin-top: 50px" type="submit" class="btn btn-black">
          Admin Login
        </button>
      </a>
      <br /><br /><br />
      <a href="/users/register">
        <button style="height: 80px; width: 350px" type="submit" class="btn btn-secondary">
          Admin Register
        </button>
      </a>

      <% } %>
    </div>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

  * {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .btn {
    font-size: x-large;
    box-shadow: 3px 3px 3px 3px rgb(75, 74, 74);
  }

  .main-head {
    height: 150px;
    background: #fff;
  }

  .sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 3px 3px 3px 3px rgb(75, 74, 74);
  }

  .main {
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    .login-form {
      margin-top: 10%;
    }

    .register-form {
      margin-top: 10%;
    }
  }

  @media screen and (min-width: 768px) {
    .main {
      margin-left: 40%;
    }

    .sidenav {
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .login-form {
      margin-top: 80%;
    }

    .register-form {
      margin-top: 20%;
    }
  }

  .login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
  }

  .login-main-text h2 {
    font-weight: 300;
  }

  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }
</style>